.G_blue {
    color: #4182EE;
}

.o_red {
    color: #E64435;
}

.o_yellow {
    color: #F7B807;
}

.g_blue {
    color: #4687F2;
}

.l_green {
    color: #33A454;
}

.e_red {
    color: #F0453A;
}

b {
    font-size: 50px;
}