<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="Home.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="all">
            <div class="headline">Welcome to my Website</div>
            <div class="menu">
                Home | About | Contact
            </div>
            <div class="sidebarandcontent">
            <div class="sidebar">Index
                <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            </div>
            <div class="contentarea">
                <h1>The coronavirus</h1>
                <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.</p>
            <p>Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p> 
                    <p>However, some will become seriously ill and require medical attention.</p>
            </div>
            </div>
            <div class="footer">All rights are reserved by Rafi</div>
        </div>
    </body>
</html>